
<html>
<head>
<meta charset='utf-8'>
<title>Image</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" href="https://img.freepik.com/free-vector/ai-technology-brain-background-vector-digital-transformation-concept_53876-117817.jpg">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="/css/image.css">
</head>
<body>
	<div class="container d-flex justify-content-center ">
		<div class="d-flex justify-content-center main">
		<div class="d-flex flex-column box">
		 <div class="d-flex flex-row justify-content-center">
			<div class="right">
				<p>original image</p>
				<a href="/colorimg/original.png" download="">
				<img  src="/colorimg/original.png" alt="">
				</a>
			</div>
			<div class="left">
				<p>Input image</p>
				<a href="/colorimg/input.png" download="">
				<img  src="/colorimg/input.png" alt="">
				</a>
			</div>
		 </div>
		<div  style="height: 40px;"></div>
		
		 <div class="d-flex flex-row justify-content-center">
			<div class="right">
				<p>ECCV16 image</p>
				<a href="/colorimg/eccv16.png" download="">
				<img  src="/colorimg/eccv16.png" alt="">
				</a>
			</div>
			<div class="left" >
				<p>SIGGRAPH17 image</p>
				<a href="/colorimg/siggraph17.png" download="">
				<img  src="/colorimg/siggraph17.png" alt="">
				</a>
			</div>
		 </div>
		 <div class="d-flex flex-row justify-content-center">
			<form action="/backtohome" method="post">
			<button type="submit" class="bt1" >Back to Home</button>
			</form>
		</div>
		 </div>
		 </div>
	</div>
	
</body>
</html>