body{
	background: linear-gradient(116.82deg, #65DAFF 0%, #6170F7 39.58%, rgba(97, 112, 246, 0.806897) 70.83%, #8A25DA 100%);
	font-family: 'Montserrat';
	font-style: normal;
	
}

.main
{
	background-color: rgba(245, 245, 220, 0.545);
	margin-top: 2%;
	padding-top: 3%;
	border-radius: 14px;
	margin-bottom: 2%;
}
.box
{
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 30px;
}
p
{
	font-family:'Montserrat';
	font-weight: 600;
	font-size: 20px;
}

img
{
	border-radius: 15px;
	width: 400px;
	height: 410px;
}
.right
{
	margin-right: 70px;
	
}
.left
{
	margin-left: 70px;

}

button{
margin-top: 10%;
width: 300px;
height: 98px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 49px;
/* identical to box height */

letter-spacing: 0.165em;

color: #FEFCFC;

border: 1px solid rgba(0, 0, 0, 0.06);
background: linear-gradient(86.94deg, #B683AD -6.19%, rgba(107, 92, 198, 0.920406) 68.79%, rgba(82, 1, 255, 0.73) 112.14%);
border-radius: 72px;
}
